$symbol-size: 40px;

.asset-symbol {
    width: $symbol-size;
    height: $symbol-size;
    line-height: $symbol-size;
    border-radius: 50%;
    text-align: center;
    background-color: #cccccc;
    color: #ffffff;

    &--btc {
        background-color: #f79319;
    }
    &--ltc {
        background-color: #335d9c;
    }
    &--pan {
        background-color: #272553;
    }

    &--au {
        background-color: #b68e45;
    }
    &--ag {
        background-color: #bfbfbf;
    }
}

.column {
    vertical-align: middle;

    &--id {
        width: 20px;
        text-align: center;
    }

    &--symbol {
        width: 200px;
    }

    &--avg_price {
        text-align: right;
    }
}

.text-link {
    cursor: pointer;
}
