<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bitpanda Test</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item text-link" *ngFor="let view of pageViews">
                <div [ngClass]="{'nav-link': true, 'active': isSelected(view.key)}" (click)="setView(view.key)">{{view.name}}</div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <table class="table table-striped table-bordered mt-5">

                <thead class="thead-dark">
                    <tr>
                        <th *ngFor="let column of tableColumns" [ngClass]="'column column--' + column.key">
                            {{column.name}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let asset of tableRows">
                        <td *ngFor="let column of tableColumns" [ngClass]="'column column--' + column.key">

                            <div *ngIf="column.key === 'symbol'"
                                 [ngClass]="['asset-symbol', 'asset-symbol--' + asset[column.key].toLowerCase()]">
                                {{asset[column.key]}}
                            </div>

                            <span *ngIf="column.key === 'avg_price'">
                                {{asset[column.key] | number:  '.' + asset.getPrecision()}} EUR
                            </span>

                            <span *ngIf="column.key != 'avg_price' && column.key != 'symbol'">
                                {{asset[column.key]}}
                            </span>

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
